<md-dialog layout="column" layout-align="space-between center" >
	<md-dialog-content>
			<md-content>
				<h2 class="md-title">{{name}}</h2>
			</md-content>
			<md-input-container flex>
		          <label>Nombre de la tarea</label>
		          <input type="text" ng-model="task.name"/>
        	</md-input-container>
			<md-input-container flex>
			        <label>Descripción</label>
			        <textarea  columns="1" ng-model="task.desp"></textarea>
	      	</md-input-container>
	</md-dialog-content>	
	<div class="md-actions buttons" layout="row">
		<md-button ng-click="cancel()"
            class="md-primary md-raised btn-cancel">
             Cancelar
        </md-button>
        <span flex></span>
        <md-button ng-click="create()"
            class="md-primary md-raised btn-accept">
             Aceptar
        </md-button>
	</div>

</md-dialog>